---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import { ViewTransitions } from 'astro:transitions';

const posts = (await getCollection('posts')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE + " - Blog"} description={SITE_DESCRIPTION} />
		<ViewTransitions />
		<style>
			main {
				width: 700px;
			}

			.item {
				border: 1px solid transparent;
				transition: 0.3s border ease;
			}
			:global(.dark) .item:hover {
				border-color: #fdd000;
			}
			.item:hover {
				border-color: blue;
			}
			h6 {
				transition: 0.3s color ease;
			}
			.item:hover h6 {
				color: blue;
			}
			:global(.dark) .item:hover h6 {
				color: #fdd000;
			}
			
			/* hover:border-blue-600 dark:hover:border-[] border border-transparent transition-all */
			
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section class="w-full">
				<ul class="flex flex-col gap-2">
					{
						posts.map((post) => (
							<li transition:name={'border'+post.data.title} class="item p-2 group">
								<a href={`/blog/${post.slug}/`} class="">
									<h6 transition:name={post.data.title} class="title mb-3">{post.data.title}</h4>
									<div class="mt-1 flex text-[17px] justify-between">
										<FormattedDate date={post.data.pubDate} transition:name={'date'+post.data.title} />
										<div class="">{post.data.tag}</div>
									</div>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
