---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import { ViewTransitions } from 'astro:transitions';

const posts = (await getCollection('projects')).sort(
	(a, b) => a.data.order.valueOf() - b.data.order.valueOf()
);

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<ViewTransitions />
		<style>
            .projects-grid {
                width: 100%;
                display: grid;
                grid-gap: 5px;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            }

			.item {
				border: 1px solid transparent;
				transition: 0.3s border ease;
			}
			:global(.dark) .item:hover {
				border-color: #fdd000;
			}
			.item:hover {
				border-color: blue;
			}
			h6 {
				transition: 0.3s color ease;
			}
			.item:hover h6 {
				color: blue;
			}
			:global(.dark) .item:hover h6 {
				color: #fdd000;
			}
			
			/* hover:border-blue-600 dark:hover:border-[] border border-transparent transition-all */
			
		</style>
	</head>
	<body>
		<Header />
		<main class="">
			<!-- <div class="tags flex gap-2">
				<a href="/projects?tag=webdev">web</a>
				<a href="/projects?tag=desktop">desktop</a>
			</div> -->
			<section class="w-auto grid gap-[5px] grid-cols-1 md:grid-cols-2 lg:grid-cols-[repeat(auto-fill,minmax(200px,1fr))]">
                {
                    posts.map((post) => (
                        <div transition:name={'border'+post.data.title} class="item  p-2 group">
                            <a href={`/projects/${post.slug}/`} class="w-full max-w-[300px]">

                                <div class="w-[200px] h-[200px] mx-auto">
                                    <img src={post.data.heroImage} class="w-full h-full"  transition:name={'heroImage'+post.data.title} alt={post.data.title} />
                                    </div>
                                <h6 transition:name={post.data.title} class="title mt-5 text-center mb-0">{post.data.title}</h4>
                            </a>
                        </div>
                    ))
                }
			</section>
		</main>
		<Footer />
	</body>
</html>
